/* Navigation Styling */
nav li {
  display: inline-block;
  bullet-style: none;
  font-size: 20px;
  margin: auto;
  min-width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: darkblue;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  color: grey;
}
